body{
    display: block;
    overflow-x: hidden;
}

nav{
    color: black;
}

.navbar-brand img {
    max-height: 50px;
}

.nav-link{
    color: #1F1B18 !important;
    font-weight: 500;
}

.navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #1F1B18;
}

.nav-item a:hover{
    color: #e2001a;
}


#about img{
 width: 60%;
  height:50vh;   
}


.copyright{
    text-align: center;
    color:#fff;
    padding: 15px 0;
    font-size: 16px;
}
.copyright a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.copyright a:hover{
    color: #1F1B18 !important;
}
.bgcolor-red{
    background: #e2001a;
}
.contact-box{
    color:#fff;
}
.contact-list a {
    display: block;
}
.contact-list h3 {
    margin-bottom: 12px;
    font-weight: 600;
}
.contact-list {
    padding: 28px;
}
.left-box > p, .right-box a, .contact-list a{
    font-size: 13px;
    line-height: 22px;
}
.right-box a:hover, .contact-list a:hover, .site-btn3:hover{
    color: #e2001a;
}

.social-icon-list {
    margin-top: 50px;
    text-align: center;
}
.social-icon-list li {
    display: inline;
}
.social-icon-list a{
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    width: 50px;
}
.social-icon-list a:hover{
    background: #e2001a;
    border-color: #e2001a;
}
.paddingTop-80{
    padding-top: 80px;
}
.paddingbottom-80 {
    padding-bottom: 80px;
}
.no-padding {
    padding: 0;
}
textarea:focus, input:focus, select:focus, select:active{
    outline: none;
    box-shadow:none;
}
.form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

.bgcolor-blue {
    background: #1F1B18;
}



a {
    color: inherit;
}

.map iframe{
    width:100%;
    height: 400px;
}

.right-box a:hover{
    color: #fff;
}
.right-box a{
    color: #fff;
    text-decoration: none;
}
.mb-10{
    margin-bottom: 10px;
}

.carousel-item img{
    width:100%;
    height: 700px;
    
}

.col-sm-12{
    padding-top: 10px;
}



